@model BookDisplayModel

@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="card w-7 top" style="margin-top: 5rem;">
        <div class="card-body">
            <h1 class="card-title">Q: How To Buy Book</h1>
            <p class="card-text">A: Click Add Book</p>
        </div>
    </div>
    <div class="card w-7 top" style="margin-top: 5rem;">
        <div class="card-body">
            <h1 class="card-title">Q: How To Change Password</h1>
            <p class="card-text">A: Click User Profile</p>
        </div>
    </div>
    <div class="card w-7 top" style="margin-top: 5rem;">
        <div class="card-body">
            <h1 class="card-title">Q: How To Find Book</h1>
            <p class="card-text">A: Click Category Or Search Books By Category And Name</p>
        </div>
    </div>
    <div class="card w-7 top" style="margin-top: 5rem;">
        <div class="card-body">
            <h1 class="card-title">Q: How To Buy Book</h1>
            <p class="card-text">A: Click Add Book</p>
        </div>
    </div>
    <div class="card w-7 top" style="margin-top: 5rem;">
        <div class="card-body">
            <h1 class="card-title">Q: Other Questions?</h1>
            <p class="card-text">A: Contact support@gmai.com</p>
        </div>
    </div>


</div>